# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config.

# Basic Authentication credentials
USERNAME=username
PASSWORD=password

# Slack settings - get these from the Slack app page
SLACK_WEBHOOK_URL=slack_webhook_url
SLACK_CHANNEL=slack_channel
SLACK_USERNAME=slack_username

# The tolerance level (in bytes) used by the size checker
SIZE_TOLERANCE=0

# The 'source' location of the LUX JavaScript file
GITHUB_URL=github_url

# The URL of where the system is hosted - used in notifications
PRODUCTION_URL=production_url
