<h1>Editing public asset</h1>

<%= render "form", public_asset: @public_asset %>

<br>

<div>
  <%= link_to "Show this public asset", @public_asset %> |
  <%= link_to "Back to public assets", public_assets_path %>
</div>
