<p style="color: green"><%= notice %></p>

<h1>Public asset checker</h1>

<div id="public_assets">
  <% @public_assets.each do |public_asset| %>
    <%= render public_asset %>
  <% end %>
</div>

<%= link_to "New", new_public_asset_path %>
